.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh; /* Use min-height para garantir que ocupe pelo menos 100% da altura da tela */
    box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
  }
  
  .contact__box {
    display: flex;
    background: #fff;
    box-shadow: 3px 3px 25px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    flex-direction: column; /* Alterado para coluna em telas menores */
  }
  
  .contact__box__form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px; /* Reduzido o padding para melhor se adaptar a telas menores */
  }
  
  /* ... Outros estilos ... */
  
  /* Ajustes para telas menores */
  @media (max-width: 768px) {
    .contact__box__form {
      padding: 20px; /* Reduzir ainda mais o padding para telas menores */
    }
  
    .contact__box__form button {
      width: 100%; /* Fazer o botão ocupar a largura total */
    }
  
    /* Exemplos adicionais de ajustes para telas menores conforme necessário */
  }
  